body {
  
  margin:0;
  font-family:Arial;
}

.topnav {
  overflow: hidden;
  padding: 11px;
  background-color: white;
}

.potings {
  padding-top:11px;
  padding-bottom: 11px
  width: 80px;
  height: 25px;
  font-family: Times;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #742a0a;
}


.button {
  background-color: #CC0000; 
  border: none;
  color: white;
  padding: 15px 13px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: -5px 1px;
  cursor: pointer;
  border-radius:14px;
}

.first-btn{
  padding-top: 10px;
  padding-bottom: 8px;
  float: right;
  background-color: #E60018;
}


.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.activjavascript:void(0);e {
  background-color: white;
  color: black;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: auto;     /*todo*/
}

.dropdown .dropbtn {
  float:  right;
  font-size: 17px;    
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  overflow: visible;
  display: none;
  position: sticky;  /*sticky*/
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  /*padding: 12px 16px;*/
  text-decoration: none;
  display: block;
  text-align: left;

}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: inherit;
  color: black;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
  overflow: visible;
}

.dropdown:hover .dropdown-content {
  display: block;
  overflow: visible;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  /*.topnav button:not(:first-child) {display: none;} *//*for hiding the button.*/
  .topnav a.icon {
    float: right;
    display: block;
  }

}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  /*.topnav .responsive .first-btn{display: all;}*/
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}